.git
.gitignore
.env
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.db
sidekick.db
sidevenv
node_modules
sidekick-frontend/node_modules
sidekick-frontend/dist
README.md
Dockerfile
docker-compose.yml
.ipynb_checkpoints
